header.container
  .row
    .col-12
      h1.text-center= title
  .row
    .col-12
      nav
        ul.list-inline
          li
            a(href="/") Home
          li
            a(href="/db") DataBase

