extends layout.pug
block content
  .container
    .row.p-5
      .col
        h3.text-center Welcome to OzRo, a familiar ragnarok server
    .row.p-3
      .col
        h4 Server information
    .row.justify-content-center.border.rounded.p-3
      ul.col-5
        li
          strong Specfication
          ul
            li Servidor renewal
            li Safe access through VPN
            li WoE enabled twice at week
        li 
          strong  Exp rates
          ul
            li Normal mob exp rate 1x
            li Boss exp rate 5x
            li quest exp rate 2x
        li
          strong Drop rates
          ul
            li Etc items 5x
            li Consumeable 10x
            li Equipment 15x
            li Cards 100x (1%)
      ul.col-5
        li
          strong Customizations
          ul
            li Multi-levelup allowed
            li 80% exp bonus for each party member
            li Mobs can do critical hits
            li Mobs can levelup
            li Each kill gives you small zeny amount
            li All mobs with double HP
            li Boss heal skills disabled
            li Mobs HP bar hidden
            li Luk stat increases the drop rate
            li Autoloot disabled
            li Merchant class can get experience buying and selling to NPC
            li Zeny is dropped when you die
            li Loyal pets can attack to defend their owners
            li Pets can levelup
            li You can buy class card set in the cash shop
            li You can buy endow and high priest buffs scrolls in the cash shop
    .row.justify-content-center.p-3
      .col-8
        .row
          .col
            h4 Custom NPC
        .row
          .col-2.text-center
            img(src="img/2_BULLETIN_BOARD.gif")
          .col-10
            .row
              .col
                strong Bounty Missions
            .row
              .col
                em In different town you can find sign posts with Missions.
            .row
              .col
                p Each missions give you exp and zeny. but also an special award of cash points and Special Gold, a very valious and rare mineral.




