extends layout.pug
block content
  .container
    .row.p-5
      .col
        h3.text-center Welcome to OzRo, a familiar ragnarok server
    .row.p-3
      .col
        h4 Server information
    .row.justify-content-center.border.rounded.p-3
      ul.col-5
        li
          strong Specfication
          ul
            li Servidor renewal
            li Safe access through VPN
            li WoE enabled twice at week
        li 
          strong  Exp rates
          ul
            li Normal mob exp rate 1x
            li Boss exp rate 5x
            li quest exp rate 2x
        li
          strong Drop rates
          ul
            li Etc items 5x
            li Consumeable 10x
            li Equipment 15x
            li Cards 100x (1%)
      ul.col-5
        li
          strong Customizations
          ul
            li No quest needed for change to first class
            li Multi-levelup allowed
            li 80% exp bonus for each party member
            li Mobs can do critical hits
            li Mobs can levelup
            li Each kill gives you small zeny amount
            li All mobs with double HP
            li Boss heal skills disabled
            li Mobs HP bar hidden
            li Luk stat increases the drop rate
            li Autoloot disabled
            li Merchant class can get experience buying and selling to NPC
            li Zeny is dropped when you die
            li Loyal pets can attack to defend their owners
            li Pets can levelup
            li Repeteables exp quests enabled, but with changes
            li You can buy class card set in the cash shop
            li You can buy endow and high priest buffs scrolls in the cash shop
    .row.justify-content-center.p-3
      .col-8
        .row
          .col
            h4 Custom NPC
        .row
          .col-2.text-center
            img(src="img/2_BULLETIN_BOARD.gif")
          .col-10
            .row
              .col
                strong Bounty Missions
            .row
              .col
                em In different towns you can find sign posts with Missions.
            .row
              .col
                p Each missions give you exp and zeny. but also an special 
                  | award of some cash points and Special Gold, a very precious 
                  | and rare mineral. Some merchans will offer fo good trades 
                  | for it.
        .row
          .col-2.text-center
            img(src="img/4_F_EDEN_MASTER.gif")
          .col-10
            .row
              .col
                strong Halter, the hunter
            .row
              .col
                p And experiencied adventurer has settled in prontera, offering
                  | some zeny and cash points rewards for some help hunting mobs.
                  | He also offers you, in exchange for your services, some
                  | rare hats that he has collected in his adventures.
        .row
          .col-2.text-center
            img(src="img/4_F_01.gif")
          .col-10
            .row
              .col
                strong Putty, the card trader
            .row
              .col
                p A young lady collector of card, can exchange you some cards
                  | for useful items, even some of her old albums, that contains
                  | one or another card.
        .row
          .col-2.text-center
            img(src="img/1_M_SMITH.gif")
          .col-10
            .row
              .col
                strong Gilbert, the old blacksmith
            .row
              .col
                p He is an experimented blacksmith that is doing bussiness with
                  | very expensive materials, if you provide him with some 
                  | Special Gold, he can give you smithing material or
                  | knowledge from his previous researches, some very valuable
                  | , other not so much.
        .row
          .col-2.text-center
            img(src="img/4_M_ROTERT.gif")
          .col-10
            .row
              .col
                strong Kessinger, the soul linker
            .row
              .col
                p For a couple of coins tone up your soul with the strengt of
                  | the ones that already passed away.
        .row
          .col-2.text-center
            img(src="img/4_F_KHELLY.gif")
          .col-10
            .row
              .col
                strong Sophie, the cash points trader
            .row
              .col
                p No description
        .row
          .col-2.text-center
            img(src="img/4_F_GON.gif")
          .col-10
            .row
              .col
                strong Maseph, the sunglasses maker
            .row
              .col
                p A misterious person, the rumors said that sombody who knows
                  | her has been seen by alberta streets.
        .row
          .col-2.text-center
            img(src="img/1_F_ORIENT_04.gif")
          .col-10
            .row
              .col
                strong The wise old woman, card remover
            .row
              .col
                p No description
        .row
          .col-2.text-center
            img(src="img/4_M_EINCPTMINER.gif")
          .col-10
            .row
              .col
                strong the mine worker
            .row
              .col
                p Not implemented yet
        .row
          .col-2.text-center
            img(src="img/4_M_ALCHE_D.gif")
          .col-10
            .row
              .col
                strong the transmuter
            .row
              .col
                p Not implemented yet
                 


